services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.test
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/uploads:/app/uploads
